<ol class='sub_list_1' id='the_basics_toc'>
  <li>
    <%= chapter('Hello World', 'the_basics/hello_world') %>
    <ol class='sub_list_2'>
      <li><%= chapter('Application Generation Options', 'the_basics/application_generation_options') %></li>
    </ol>
  </li>
  <li><%= chapter('Routing', 'the_basics/routing') %></li>
  <li><%= chapter('Controllers', 'the_basics/controllers') %></li>
  <li><%= chapter('Views', 'the_basics/views') %></li>
</ol>