<ol class='top_list'>
  <li><%= link_to('Welcome', home_page_url) %></li>
  <li>
    Getting Started <%= toc(:getting_started) %>
  </li>
  <li>
    <%= chapter('The Basics', 'the_basics/index') %> <%= toc(:the_basics) %>
  </li>
  <li>
    Configuration <%= toc(:configuration) %>
  </li>
  <li>
    <%= chapter('Routing', 'routing/index') %> <%= toc(:routing) %>
  </li>
  <li>
    Controllers <%= toc(:controllers) %>
  </li>
  <li>
    Views <%= toc(:views) %>
  </li>
  <li>
    Session <%= toc(:session) %>
  </li>
  <li>
    Request/Response <%= toc(:request_response) %>
  </li>
  <li>
    Testing <%= toc(:testing) %>
  </li>
  <li>
    Plugins <%= toc(:plugins) %>
  </li>
  <li>
    Mack More <%= toc(:mack_more) %>
  </li>
  <li>Rails to Mack Cheat Sheet</li>
  <li><%= chapter('Contributing', 'contributing/index') %></li>
  <li>
    APIs <%= toc(:apis) %>
  </li>
</ol>