<ol>
  <li>
    Getting Started
    <%= render(:partial, 'chapters/getting_started/toc') %>
  </li>
  <li>
    <%= chapter('The Basics', 'the_basics/index') %>
    <%= render(:partial, 'chapters/the_basics/toc') %>
  </li>
  <li>
    Configuration
    <%= render(:partial, 'chapters/configuration/toc') %>
  </li>
  <li>
    <%= chapter('Routing', 'routing/index') %>
    <%= render(:partial, 'chapters/routing/toc') %>
  </li>
  <li>
    Controllers
    <%= render(:partial, 'chapters/controllers/toc') %>
  </li>
  <li>
    Views
    <%= render(:partial, 'chapters/views/toc') %>
  </li>
  <li>
    Session
    <%= render(:partial, 'chapters/session/toc') %>
  </li>
  <li>
    Request/Response
    <%= render(:partial, 'chapters/request_response/toc') %>
  </li>
  <li>
    Testing
    <%= render(:partial, 'chapters/testing/toc') %>
  </li>
  <li>
    Plugins
    <%= render(:partial, 'chapters/plugins/toc') %>
  </li>
  <li>
    Mack More
    <%= render(:partial, 'chapters/mack_more/toc') %>
  </li>
  <li>Rails to Mack Cheat Sheet</li>
  <li>Contributing</li>
</ol>