<ol class='top_list'>
  <li><%= link_to('Welcome', home_page_url) %></li>
  <li>
    <%= chapter('Getting Started', 'getting_started/index') %> <%= toc(:getting_started) %>
  </li>
  <li>
    <%= chapter('The Basics', 'the_basics/index') %> <%= toc(:the_basics) %>
  </li>
  <li>
    <%= chapter('Configuration', 'configuration/index') %> <%= toc(:configuration) %>
  </li>
  <li>
    <%= chapter('Routing', 'routing/index') %> <%= toc(:routing) %>
  </li>
  <li>
    <%= chapter('Controllers', 'controllers/index') %> <%= toc(:controllers) %>
  </li>
  <li>
    <%= chapter('Views', 'views/index') %> <%= toc(:views) %>
  </li>
  <li>
    <%= chapter('Session', 'session/index') %> <%= toc(:session) %>
  </li>
  <li>
    <%= chapter('Request/Response', 'request_response/index') %> <%= toc(:request_response) %>
  </li>
  <li>
    <%= chapter('Testing', 'testing/index') %> <%= toc(:testing) %>
  </li>
  <li>
    <%= chapter('Porlets', 'portlets/index') %> <%= toc(:portlets) %>
  </li>
  <li>
    <%= chapter('Plugins', 'plugins/index') %> <%= toc(:plugins) %>
  </li>
  <li>
    <%= chapter('Deploying', 'deploying/index') %> <%= toc(:deploying) %>
  </li>
  <li>
    <%= chapter('Mack More', 'mack_more/index') %> <%= toc(:mack_more) %>
  </li>
  <li><%= chapter('Rails to Mack Cheat Sheet', 'rails_to_mack/index') %></li>
  <li><%= chapter('Contributing', 'contributing/index') %></li>
  <li>
    <%= chapter('APIs', 'apis/index') %> <%= toc(:apis) %>
  </li>
</ol>