<ol class='sub_list_1' id='routing_toc'>
  <li><%= chapter('Default Routes', 'routing/defaults') %></li>
  <li><%= chapter('Named Routes', 'routing/named_routes') %></li>
  <li><%= chapter('RESTful/Resource Routes', 'routing/restful_routes') %></li>
  <li><%= chapter('Nested Resource Routes', 'routing/nested_resources') %></li>
  <li><%= chapter('Regex Routes', 'routing/regex_routes') %></li>
  <li><%= chapter('Wildcard Routes', 'routing/wildcard_routes') %></li>
  <li><%= chapter('Blocks in Routes', 'routing/block_routes') %></li>
  <li><%= chapter('Redirecting', 'routing/redirecting') %></li>
  <li><%= chapter('Error Handling', 'routing/error_handling') %></li>
  <li><%= chapter('Deferred? Routes', 'routing/deferred_routes') %></li>
  <li><%= chapter('Misc. Routing', 'routing/misc') %></li>
</ol>