<ol class='sub_list_1' id='routing_toc'>
  <li><%= chapter('Default Routes', 'routing/defaults') %></li>
  <li><%= chapter('Named Routes', 'routing/named_routes') %></li>
  <li><%= chapter('RESTful/Resource Routes', 'routing/restful_routes') %></li>
  <li><%= chapter('Redirecting', 'routing/redirecting') %></li>
  <li><%= chapter('Error Handling', 'routing/error_handling') %></li>
</ol>