<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= page_title %></title>
  <%= stylesheet [:sh, :main] %>
  <%= javascript [:jquery, 'jquery-fx', 'jquery-ui', :sh_core, :sh_brush_ruby, :sh_brush_fs] %>
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  var pageTracker = _gat._getTracker("UA-4007638-5");
  pageTracker._trackPageview();
  </script>
</head>
<body>
<% if Mack.env == 'production' -%>
<div id="header">
  <div id="logo">
    <a href="http://www.mackframework.com" title="Mack Framework">Mack Framework</a>
    <h1>A Distributed Ruby Web Application Framework</h1>
  </div>
</div>
<% end -%>

<div id="wrapper">

  <div id="toc"><%= render(:partial, 'chapters/toc') %></div>
  <div id="main">
    <h1><%= page_title %></h1>
    <%= yield_to :view  %>
  </div>

</div>

<script language="javascript">  
dp.SyntaxHighlighter.ClipboardSwf = '/javascripts/clipboard.swf';  
dp.SyntaxHighlighter.HighlightAll('code');  
</script>

<div id='for_version' class='note'>This guide was written for Mack version 0.7.9.100</div>

<% if Mack.env == 'production' -%>
<div id="footer">
  <p>&copy; Mack Framework</p>
</div>
<% end -%>

</body>
</html>
