<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= page_title %></title>
  <%= assets_bundle :macker_guide %>
  
  <!-- edge: -->
  <%= google_analytics('UA-4007638-6') %>
  <!-- www: -->
  <%= google_analytics('UA-4007638-5') %>
</head>
<body>
<% if configatron.show_header_footer -%>
<div id="header">
  <div id="logo">
    <a href="http://www.mackframework.com" title="Mack Framework">Mack Framework</a>
    <h1>A Distributed Ruby Web Application Framework</h1>
  </div>
</div>
<div id="nav">
  <%= link_to('home', mack_home_url) %>
  <%= link_to('about', mack_about_url) %>
  <%= link_to('archives', mack_archives_url) %>
  <%= link_to('contribute', mack_contribute_url) %>
  <%= link_to('support', mack_support_url) %>
  <%= link_to('user-guide', mack_user_guide_url) %>
</div>
<% end -%>

<div id="wrapper">

  <div id='search'>
    <% form(search_url) do -%>
      <%= :query.text_field %>
      <%= submit_button 'Search' %>
    <% end -%>
  </div>
  <div id="toc"><%= render(:partial, 'chapters/toc') %></div>
  <div id="main">
    <h1><%= page_title %></h1>
    <%= yield_to :view  %>
  </div>

</div>

<script language="javascript">  
dp.SyntaxHighlighter.ClipboardSwf = '/javascripts/clipboard.swf';  
dp.SyntaxHighlighter.HighlightAll('code');  
</script>

<div id='for_version' class='note'>This guide was written for Mack version <%= Mack::VERSION %></div>

<% if configatron.show_header_footer -%>
<div id='footer_padding'>
  <div id="footer">
    <p>&copy; Mack Framework</p>
  </div>
</div>
<% end -%>

</body>
</html>
